<!-- Insert scripts here -->
<script src="{{ '/js/vendor/jquery.js' | prepend: site.assets }}"></script>
<script src="{{ '/js/vendor/bootstrap.js' | prepend: site.assets }}"></script>
<script src="{{ '/js/vendor/idangerous.swiper.js' | prepend: site.assets }}"></script>
<script src="{{ '/js/app.js' | prepend: site.assets }}"></script>

<!-- The following code is an example use of including external JavaScript libraries -->
{% if page.plugin == 'intense' %}

  <!-- There is no prepend: site.base here, it'll cause error 404 when site.base it defined -->
  <script src="{{ '/js/vendor/intense.js' | prepend: site.assets }}"></script>
  <script>
    window.onload = function() {
      var fx = document.querySelectorAll('p > img:not(.nointense)');
      var el = document.body;
      var cl = 'loaded'

      if (el.classList)
        el.classList.add(cl);
      else
        el.className += ' ' + cl;

      Intense(fx);
    }
  </script>
{% endif %}
