<!-- Prepare author meta -->
{% if page.author %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.data.authors["default"] %}
{% endif %}

<!-- List snippets -->
<section class="blog-post" {% if post.lang %} lang={{ post.lang }}{% endif %}>
  <h2 class="blog-post-title">
    <a href="{{ post.url | prepend: site.base }}">{{ post.title }}</a>
  </h2>

  <div class="blog-post-meta">
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
    by
    <span rel=author>{{ author.name }}</span>
  </div>

  <div class="blog-post-content">
    {{ post.content }}
  </div>

</section>
