<!-- Insert scripts here -->
<script src="{{ '/js/vendor/jquery.js' | prepend: site.assets }}"></script>
<script src="{{ '/js/vendor/bootstrap.js' | prepend: site.assets }}"></script>
<script src="{{ '/js/vendor/idangerous.swiper.js' | prepend: site.assets }}"></script>
<script src="{{ '/js/vendor/idangerous.swiper.hashnav.js' | prepend: site.assets }}"></script>
<script src="{{ '/js/vendor/idangerous.swiper.progress.js' | prepend: site.assets }}"></script>
<script src="{{ '/js/wechat/app.js' | prepend: site.assets }}"></script>
